body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0d1117;
    color: rgb(253, 253, 253);
}

header {
    padding: 20px;
    background: linear-gradient(90deg, #6a5af9, #a66cff);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
}

nav {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 15px;
    background: #161b22;
    position: sticky;
    top: 0;
}

nav a {
    color: #dee1e5;
    text-decoration: none;
    font-weight: 600;
}

nav a:hover {
    color: #a66cff;
}

.hero {
    padding: 80px 20px;
    text-align: center;
    background: url('WhatsApp\ Image\ 2025-11-30\ at\ 20.32.40\ \(2\).jpeg') center/cover no-repeat;
    background-attachment: fixed;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 30px;
}

.card {
    background: #161b22;
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 25px;
}

/* Galeri Foto */
.gallery {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
    gap: 15px;
}

.gallery img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.gallery img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0,0,0,0.6);
}

footer {
    text-align: center;
    padding: 20px;
    color: #9ba1b0;
}

/* Popup Zoom Foto */
.popup {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    backdrop-filter: blur(5px);
    justify-content: center;
    align-items: center;
}

.popup img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255,255,255,0.3);
    animation: zoomIn 0.3s ease;
}

#closePopup {
    position: absolute;
    top: 25px;
    right: 35px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

@keyframes zoomIn {
    from {
        transform: scale(0.6);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}
